billboard-service/env/
billboard-service/.env

ticket-service/.env
ticket-service/env/

user-service/.env
user-service/env/

food-service/.env
food-service/env/

payment-service/.env
payment-service/env/

notification-service/.env
notification-service/env/

